<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Account Details</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Name input -->
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>

      <!-- Phone number input -->
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="tel" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>

      <!-- Email input -->
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="email" [(ngModel)]="emailAddress"></ion-input>
      </ion-item>

      <!-- Save button -->
      <ion-button expand="block" (click)="saveAccountDetails()">Save</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
