<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Display order details -->
  <ion-list>
    <ion-item>
      <ion-label>Restaurant:</ion-label>
      <ion-text>{{ order.restaurant }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Item Total:</ion-label>
      <ion-text>{{ order.itemTotal | currency:'ZAR' }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Delivery Price:</ion-label>
      <ion-text>{{ deliveryPrice | currency:'ZAR' }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Total Price:</ion-label>
      <ion-text>{{ order.totalPrice | currency:'ZAR' }}</ion-text>
    </ion-item>
  </ion-list>

  <!-- Allow user to modify order -->
  <!-- Add buttons or input fields here to allow user to modify the order -->

  <!-- Instructions for delivery -->
  <ion-item>
    <ion-label position="stacked">Delivery Instructions:</ion-label>
    <ion-textarea [(ngModel)]="deliveryInstructions" placeholder="Enter delivery instructions"></ion-textarea>
  </ion-item>

  <!-- Button to make payment -->
  <ion-button expand="block" (click)="makePayment()">Make Payment</ion-button>

</ion-content>
